@import './variables.scss';
@import './components/styles/Header.scss';
@import './components/styles/ItemCard.scss';


html {
  font-size: 62.5% // 10px;
}
.container {
  display: grid;
  background-color: $backgroundColor;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.5em;

  @include phone {
    .main {
      grid-area: 2/1/3/3;
      min-height: 500px;
      padding: 1.5em 0.5em;
    }
  }

  @include tablet {
    .main {
      grid-area: 2/1/3/3;
      padding: 1.0em 0.1em;
    }
  }

  @include desktop {
    .main {
      grid-area: 2/1/3/3;
      // border: solid 2px red;
      padding: 2.0em 1.0em;
    }
  }

}
